$color-pink: #faa7ed;
$color-navy: #0c1f72;
$color-navy-opaque: rgba(6, 0, 79, 0.77);
$color-light: #ffffff;
$color-dark: #252525;
$font-serif: Georgia, serif;
$font-sans: Helvetica, sans-serif;
$metric-wrapper: 40rem;
$metric-gutter: 1.25rem;
$transition-snappy: 200ms linear;
$transition-silky: 300ms cubic-bezier(1, 0, 0.55, 0.85);